/*Pone el imagenCorporativa de la página con un color*/
html{
    background-color:rgb(199, 164, 152);

}

/*Pone el espacio al 100*/
.imagenInicio{
    width: 99.5%;
    border: solid 4px rgb(78, 49, 40);
    box-shadow: rgb(78, 49, 40) 2px 2px 5px;
    border-radius: 10px;
}

        /*BARRA DE NAVEGACION*/

/*Pone el contenido de la etiqueta nav flexible*/
nav{
    display: flex;
    margin-top: 2%;
}

/*Pone flexible el contenido, alinea al inicio de la página, un tamaño de un 60% y alinea el texto al centro*/
.navegacion_categoria{
    display: flex;
    justify-content: flex-start;
    width: 60%;
    text-align: center;
}

/*Pone flexible el contenido, alinea al final de la página, un tamaño de un 40% y alinea el texto al centro*/
.navegacion_usuario{
    display: flex;
    justify-content: flex-end;
    width: 40%;
    text-align: center;
}

/*Pone un tamaño al 20%, un margen interior de 10 pixeles, un borde de 2 px y un imagenCorporativa de color marrón*/
.navegacion_categoria > div {
    width: 20%;
    padding: 10px;
    border: solid 2px rgb(78, 49, 40);
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 5px;
}

/*Pone un tamaño al 20%, un margen interior de 10 pixeles, un borde de 2 px y un imagenCorporativa de color marrón*/
.navegacion_usuario> div{
    width: 20%;
    padding: 10px;
    border: solid 2px rgb(78, 49, 40);
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: 5px;
}
/*Cambia el color del boton y la letra*/
.seleccionado{
    color:green;
}

/*pone en linea la imagen y el texto y le ponemos espacio en medio*/
.carrito{
    display: flex;
    justify-content: space-around;
}

/*-------Enlaces de toda la página-------*/

/*Quita la decoración a los enlaces y pone la letra en negrita*/
a{
    text-decoration: none;
    font-weight: bold;
}
/*Le aplica el color marron a los enlaces*/
a:link{
    color:rgb(78, 49, 40);
}

/*Se mantiene en marron aún habiendolo visitado*/
a:visited{
    color: rgb(78, 49, 40);
}

/*Cambia a verde cuando el raton esta encima del enlace*/
a:hover{
    color: green;
}

        /*ZONA SELECT*/
/*Pone un inline-block para establecer un ancho en el elemento y le ponemos un tamaño al 60%*/
section{
    display: flex;
    justify-content: center;
    margin: 3%;
}

/*Le pone un borde, una sombra, un imagenCorporativa en blanco ahumado, un radio de 10px, un margen interior de 1%, pone flexible y alineado al centro*/
footer{
    border: 4px rgb(78, 49, 40) solid;
    box-shadow: rgb(78, 49, 40) 2px 2px 5px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    justify-content: center;
}

footer > div{
    padding-left: 3%;
}
/*Le pone un borde solido de 4 pixeles, una sombra, un imagenCorporativa color blanco ahumado, un radio de 10px y un margen interior de 3%*/
.apariencia{
    border: 4px rgb(78, 49, 40) solid;
    box-shadow: rgb(78, 49, 40) 2px 2px 5px;
    color: rgb(78, 49, 40);
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 3%;
}
/*Pone centrado el titulo*/
h1{
    text-align: center;
}

/*Cambia el color al titulo nivel uno y cambia su tamaño de fuente*/
.inicioH1{
    color: rgb(78, 49, 40);
    font-size: 250%;
}
/*Cambia el color al titulo nivel dos y cambia su tamaño de fuente*/
.inicioH2{
    color: rgb(78, 49, 40);
    font-size: 150%;
    text-align: center;
    
}
/*Pone un margen al inicio del 5%, lo pone flexible y lo centra*/
.centrarContenido{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

/*-----------FORMULARIOS----------*/
/*pone un borde marron de 2 pixeles solido, pone un imagenCorporativa blanco al formulario, pone color marron a la letra, un margen interno de 3*/
.formulario{
    border: 4px rgb(78, 49, 40) solid;
    box-shadow: rgb(78, 49, 40) 2px 2px 5px;
    background-color: whitesmoke;
    color: rgb(78, 49, 40);
    padding: 3%;
}

/*Pone un inline-block para establecer un ancho en el elemento y le ponemos un tamaño al 45%*/
label, input{
    display: inline-block;
    width: 45%;
}

/*le pone un borde color marron de 2 pixeles solido y un radio en el borde de 5 pixeles*/
input{
    border: rgb(78, 49, 40) 2px solid;
    border-radius: 5px;
}

/*hece que ocupe todo el formulario, cambia el color de la letra y pone la letra en negrita*/
.botonFormulario{
    width: 100%;
    color: rgb(78, 49, 40);
    font-weight: bold;
}

/*-----------CATÁLOGO DE PRODUCTOS---------*/
/*Divide en 3 columnas*/
.catalogo{
    width: 70%;
    display: table;
}

.contenedor{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.contenedor > a{
    width: 50%;
    padding-top: 3px;
}

.contenedor > button{
    width: 50%;
}

/*Pone el elemento como bloque y le pone un margen del 3%*/
.busqueda{
    display: block;
    margin: 3%;
}

/*Le pone un tamaño al 50%, un margen interior, un margen exterior, un radio de 5 px,
un borde de 2px marrón solido, la letra en color marron y la fuente en negrita*/
.aparienciaBoton{
    width: 50%;
    padding: 5px;
    margin: 2%;
    border-radius: 5px;
    border: rgb(78, 49, 40) 2px solid;
    color: rgb(78, 49, 40);
    font-weight: bold;
}
/*Crea la cuadricula de los productos*/
/*Alinea los productos a la izquierda, le pone un ancho del 30%, un margen superior de 10 pixeles,
 margen inferior de 10 px, un borde solido de 4px cambia las letras a color marron, alinea el texto al centro,
redondea los border y pone un margen interior de 10px*/
.productos{
    float: left;
    width: 30%;
    margin: 5px;
    border: 4px rgb(78, 49, 40) solid;
    color: rgb(78, 49, 40);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

/*le pone un borde solido de 4px y un radio de 10px*/
.productos > img{
    border: 4px rgb(78, 49, 40) solid;
    border-radius: 10px;
}

/*---------SLIDER---------*/
/*pone el tamaño al 100%, lo pone flexible y alineado al centro*/
.slidershow{
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Le da una posicion, le pone un tamaño, con un margen interno, un color al imagenCorporativa, un borde azul solido de 4 pixeles, una sombra azul y un margen izquierdo y derecho del 6%*/
#slider{
    width: 30%;
    height: 30%;
    padding: 5px;
    border: 4px rgb(78, 49, 40) solid;
    box-shadow: rgb(78, 49, 40) 2px 2px 5px;
    border-radius: 10px;
    margin-left: 6%;
    margin-right: 6%;
    
}

/*pone las flechas felxibles, alineadas al centro y el cursor pointer*/
.left, .right{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*lo alinea a la izquierda*/
.left{
    left: 10px;
}

/*lo alinea a la izquierda*/
.right{
    right: 10px;
}

/*Pone flexible la zona*/
.flexible{
    width: 60%;
    display: flex;
    margin: 5%;
}
/*Le da tamaño al div y lo pone en bloque*/
.flexible > div{
    width: 60%;
    display: block;
    
}

/*-------PERFIL------*/
/*Pone un tamaño al menu, un margen de 1%, un margen interior de 1% y un borde derecho marron de 3px solido*/
.flexible > .menu{
    width: 30%;
    margin: 1%;
    display: block;
    padding-right: 1%;
    border-right: rgb(78, 49, 40) 3px solid;
}

/*Centra el texto, pone un borde marron de 3px solido, una sombra marron y un margen interior de 3%*/
.menu > p{
    text-align: center;
    border: rgb(78, 49, 40) 3px solid;
    box-shadow: rgb(78, 49, 40) 2px 2px 5px;
    padding: 3%;
}
/*Le pone un tamaño al contenido del perfil, un margen de 1%, un margen interior de 2%*/
.flexible > .contenidoPerfil{
    width: 60%;
    margin: 1%;
    padding: 2%;
    display: block;
}

hr{
    border-bottom: rgb(78, 49, 40) 2px solid;
    box-shadow: rgb(78, 49, 40) 2px 2px 5px;
}

